<div class="row mt-5">
  <div class="col-12">
    <h2 class="title">Meus Endereços</h2>
  </div>
</div>
<div class="row">
  <div class="col-6 d-flex align-items-center">
    <h6 class="sub-title">Selecione o endereço de entrega</h6>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <button type="button" class="btn btn-primary btn-lg">Novo Endereço</button>
  </div>
</div>

<div class="row d-flex justify-content-center mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title font-weight-bold">Casa</h5>
                <p class="card-text">Rua Friedrich Von Voith, 1830 - Torre 5 apartamento 44 - Nações Unidas - Jaraguá -
                  São Paulo</p>
                <p class="card-text text-muted">
                  Ponto de Referência: Condominio Certto Jaraguá
                </p>
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center delete-button">
                <fa class="fa" name="times"></fa>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title font-weight-bold">Trabalho</h5>
                <p class="card-text">Rua Friedrich Von Voith, 1830 - Torre 5 apartamento 44 - Nações Unidas - Jaraguá -
                  São Paulo</p>
                <p class="card-text text-muted">
                  Ponto de Referência: Condominio Certto Jaraguá
                </p>
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center delete-button">
                <fa class="fa" name="times"></fa>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>