<div class="view"
  style="background-image: linear-gradient(to right bottom, #ffffff, #e8d5f9, #e3a5e4, #e76ebf, #e80a89);">
  <div class="mask d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row wow fadeIn mb-4 mt-5">
        <div class="col-md-12 text-center description">
          <h1 class="font-weight-bold wow fadeInUp">Seu restaurante onde estiver</h1>
          <h6 class=" wow fadeInUp pt-3" data-wow-delay="0.2s">
            Digite seu Cep e veja os restaurantes mais próximos
          </h6>
        </div>
      </div>
      <div class="row d-flex justify-content-center mb-5 mt-5 align-items-center wow fadeInUp no-gutters" data-wow-delay="0.4s">
        <div class="col-md-4 search-box">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="CEP" mask="00000-000">
            <span class="input-group-addon"><i class="fas fa-search"></i></span>
          </div>
          <input ngx-google-places-autocomplete #places="ngx-places" (onAddressChange)="onChange($event)" />

        </div>
      </div>
      <div class="row d-flex mt-5 justify-content-center align-items-center wow fadeInUp no-gutters p-5">
        <div class="col-md-6">
          <div class="row text-center d-flex justify-content-center align-items-center step-box">
            <div class="col-md-4">
              <i class="fas  fa-3x  fa-map-marked-alt"></i>
              <p class="mt-3">1. Escolha a localização</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-3x fa-utensils"></i>
              <p class="mt-3">2. Faça seu pedido</p>
            </div>
            <div class="col-md-4">
              <i class="fas fa-3x fa-shipping-fast"></i>
              <p class="mt-3">3. Receba rápido</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>