<div class="row mt-5 d-flex justify-content-end align-items-center">
  <div class="col-10 search-bar">
    <form class="card card-sm">
      <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
          <i class="fa fa-search h4 text-body"></i>
        </div>
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search"
            placeholder="Buscar prato ou restaurante">
        </div>
      </div>
    </form>
  </div>
  <div class="col-2">
    <div class="input-group">
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Relevância</option>
        <option value="1">Menor Preço</option>
        <option value="2">Maior Preço</option>
        <option value="3">Mais Próximo</option>
      </select>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center mt-3">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="card restaurant-card">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col-4">
                <img src="https://via.placeholder.com/125">
              </div>
              <div class="col-6 pt-2 mt-3">
                <h5 class="title font-weight-bold">
                  Garagem do Açaí
                </h5>
                <span class="text-muted">
                  Brasileira
                </span>
                <i class="fa fa-circle"></i>
                <span class="text-muted">
                  40-65 min
                </span>
              </div>
              <div class="col-2 pt-2 mt-3 ratting">
                <span>
                  <i class="fa fa-star"></i> 4,3
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card restaurant-card">
          <div class="card-body">
            <div class="row no-gutters">
              <div class="col-4">
                <img src="https://via.placeholder.com/125">
              </div>
              <div class="col-6 pt-2 mt-3">
                <h5 class="title font-weight-bold">
                  Garagem do Açaí
                </h5>
                <span class="text-muted">
                  Brasileira
                </span>
                <i class="fa fa-circle"></i>
                <span class="text-muted">
                  40-65 min
                </span>
              </div>
              <div class="col-2 pt-2 mt-3 ratting">
                <span>
                  <i class="fa fa-star"></i> 4,3
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>