@import '~bootstrap/scss/bootstrap.scss';
@import "~font-awesome/css/font-awesome.css";
@import 'assets/scss/variables.scss';

.container{
    max-width: 923px;
}

.btn-primary{
background-color: $primary-color;
border-color: $primary-color;
}

.btn-primary{
    @include button-variant($primary-color, darken($primary-color, 7.5%), darken($primary-color, 10%), lighten($primary-color,5%), lighten($primary-color, 10%), darken($primary-color,30%));

}